@charset "utf-8";
/* CSS Document */

ul.carpeta,
ul.carpeta li,
ul.carpeta ul li {
   margin: 0;
   padding: 0;
   text-indent: 0;
   list-style-position: inside;
   list-style-type: disc;
   background-image: none;
   margin-left: 15px;
   float: none;
   border-right: none;
}

ul.archivo,
ul.archivo li,
ul.archivo ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}
